@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

@layer utilities {
  :is(:root, .modified-scrollbar)::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  :is(:root, .modified-scrollbar)::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 0.75rem;
    background-clip: padding-box;
    background-color: #333;
  }
}
